@page "/staff/customeraccounting"
@layout Hotaru.Shared.LayOut.StaffLayout
@using Hotaru.shared.Models
<div class="main">
    <div class="row">
        <div class="col-4">
            <BSCard CardType="CardType.Card">

                <BSCard CardType="CardType.Image" VerticalAlignment="VerticalAlignment.Top" src="https://upload.wikimedia.org/wikipedia/vi/6/65/Naruto-Opening01_222.jpg" alt="Card image cap" />

                <BSCard CardType="CardType.Body">

                    <BSCard CardType="CardType.Title">@model.Name</BSCard>

                    <BSCard CardType="CardType.Subtitle">@model.Ages years old</BSCard>

                    <BSCard CardType="CardType.Text">
                        @model.state
                    </BSCard>
                </BSCard>

            </BSCard>
        </div>
        <div class="col-8 pd-20">
            <h3>
                <span class="mr-2 oi oi-calculator"></span>
                Accounting
            </h3>
            <div class="row">
                <div class="col-12 pb-3">
                    Date pick in advance:
                </div>
                <div class="col-12 pb-3">
                    <BSBasicInput InputType="InputType.Date" @bind-Value="CT.DatePickInAdvance" IsDisabled="true"></BSBasicInput>
                </div>
                <div class="col-12 pb-3">
                    Date return:
                </div>
                <div class="col-12 pb-3">
                    <BSBasicInput InputType="InputType.Date" @bind-Value="CT.DateReturn"></BSBasicInput>
                </div>
                <div class="col-12 pb-3">
                    Room name:
                </div>
                <div class="col-8 pb-3">
                    <BSBasicInput InputType="InputType.Select" @bind-Value="Room_temp_name">

                        @for (int i = 0; i < ht.RoomData_Name.Count; i++)
                        {
                            int temp = i;
                            <option>@ht.RoomData_Name[temp]</option>
                        }

                    </BSBasicInput>
                </div>
                <div class="col-4 pb-3">
                    @for (int i = 0; i < ht.RoomData_Name.Count; i++)
                    {
                        int temp = i;
                        if (ht.RoomData_Name[temp] == Room_temp_name)
                        {
                            Room_temp_locate = temp;
                            break;
                        }
                    }
                    @{
                        if (!string.IsNullOrEmpty(Room_temp_name))
                            Price = ht.RoomData_Price[Room_temp_locate].ToString() + " vnđ";
                    }
                    <BSBasicInput InputType="InputType.Text" IsDisabled="true" Value="Price"></BSBasicInput>
                </div>
                <div class="col-12 pb-3">
                    Additional fee description:
                </div>
                <div class="col-12 pb-3">
                    <BSBasicInput InputType="InputType.TextArea" @bind-Value="CT.AddtionalFeeDescription"></BSBasicInput>
                </div>
                <div class="col-12 pb-3">
                    Additional fee(money):
                </div>
                <div class="col-12 pb-3">
                    <BSBasicInput InputType="InputType.Number" @bind-Value="CT.AddtionalFee"></BSBasicInput>
                </div>
                <BSButton Color="Color.Info" Size="Size.Large" Class="float-right">Alert to customer</BSButton>
                </div>
            </div>
    </div>
</div>
@code {
    int Room_temp_locate = new int();
    string Room_temp_name = string.Empty;
    string Price = string.Empty;
    Hotel ht = new Hotel("Valley hotel", "", "", "");
    CustomerTransaction CT = new CustomerTransaction();
    CustomerData model = new CustomerData("Cella Marcelo", "mrcl@gmail.com", "1", "0982481842", "1st Washington", 32, "In Valley Hotel");
    protected override void OnInitialized()
    {
        CT.DatePickInAdvance = DateTime.Now;
        CT.DateReturn = DateTime.Now;
    }
}
