<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/manager">Hotaru</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/manager/information">
                <span class="oi oi-info" aria-hidden="true"></span> User Info
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/manager/staffmanagement">
                <span class="oi oi-plus" aria-hidden="true"></span> Staff Management
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/manager/customermanagement">
                <span class="oi oi-plus" aria-hidden="true"></span> Customer Management
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/manager/hotel">
                <span class="oi oi-book" aria-hidden="true"></span> Hotel Info
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/manager/bookingstatus">
                <span class="oi oi-calculator" aria-hidden="true"></span> Booking Management
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/manager/datareport">
                <span class="oi oi-calculator" aria-hidden="true"></span> Data Report
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
