@page "/manager/offlinebooking/"
@layout Hotaru.Shared.LayOut.ManagerLayout
@using Hotaru.shared.Models
<div class="main">
    <BSJumbotron>
        <BSBasicForm>
            <BSFormGroup>
                <BSLabel>Customer ID:</BSLabel>
                <div class="row">
                    <BSBasicInput Class="col-12" InputType="InputType.Text" @bind-Value="CustomerID"></BSBasicInput>
                </div>
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel>Room select</BSLabel>
                <div class="row">
                    <BSBasicInput Class="col-8" InputType="InputType.Select" @bind-Value="Room_temp_name">

                        @for (int i = 0; i < model.RoomData_Name.Count; i++)
                        {
                            <option>@model.RoomData_Name[i]</option>
                        }

                    </BSBasicInput>
                    @for (int i = 0; i < model.RoomData_Name.Count; i++)
                    {
                        if (model.RoomData_Name[i] == Room_temp_name)
                        {
                            Room_temp_locate = i;
                            break;
                        }
                    }
                    @{
                        if (!string.IsNullOrEmpty(Room_temp_name))
                            Price = model.RoomData_Price[Room_temp_locate].ToString() + " vnđ";
                    }
                    <BSBasicInput Class="col-4" InputType="InputType.Text" IsDisabled="true" Value="Price"></BSBasicInput>
                </div>
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel>Date pick room in advance</BSLabel>
                <div class="row">
                    <BSBasicInput Class="col-12" InputType="InputType.Date" @bind-Value="datePIA" IsDisabled="true"></BSBasicInput>
                </div>
            </BSFormGroup>
            <BSFormGroup>
                <BSLabel>Return date expect</BSLabel>
                <div class="row">
                    <BSBasicInput Class="col-12" InputType="InputType.Date" @bind-Value="dateR"></BSBasicInput>
                </div>
            </BSFormGroup>
            <BSButton Class="p-3" Color=Color.Primary Size=Size.Large OnClick="Booking">Confirm</BSButton>
        </BSBasicForm>

    </BSJumbotron>
</div>

@code {
    DateTime datePIA = DateTime.Now;
    DateTime dateR = DateTime.Now;
    int Room_temp_locate = new int();
    string CustomerID = string.Empty;
    string Room_temp_name = string.Empty;
    string Price = string.Empty;
    Hotel model = new Hotel("Sample name", "129/2A Broadla Coaster Washington DC", "https://r-cf.bstatic.com/images/hotel/max1024x768/231/231141387.jpg", "Our hotel is 5 star rated on Roasted-Tomato, with about more than 1000m2 in space and 60 room of all kind");
    BookingData CT = new BookingData();
    void Booking()
    {
        CT.Room_Name = Room_temp_name;
        CT.Room_Price = model.RoomData_Price[Room_temp_locate];
        CT.DatePickInAdvance = datePIA;
        CT.ReturnDateExpect = dateR;
    }
}
